.products_table {
    td a {
        font-weight: bold;
        &.edit {
            color:  blue;
            cursor: pointer;
            &:hover {
                color:blue;
            }
        }
        &.delete {
            color: #F44336;
            cursor: pointer;
            &:hover {
                color:#F44336;
            }
        }
    }
    td:last-child svg {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }
}